<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@300;400;900&family=Raleway:wght@300;400&display=swap">
</head>

<body>
    <%- include('./header.ejs') %>
    
    <div class="main-container">
        <h1>Grooming Services</h1>
    </div>
    <div class="services-container">
        <div class="services-card">
            <h2>Paw Trim</h2>
            <p>
                A touch-up cut for your long-haired pets to ensure their paw pads are hair free for them (highly
                recommended for those with indoor pets).
            </p>
            <div class="prices">$8</div>
        </div>
        <div class="services-card">
            <h2>Sanitary Trim</h2>
            <p>
                A touch-up cut to ensure your pet's sensitive areas are hair free for cleanliness and the comfort for
                your pet.
            </p>
            <div class="prices">$10</div>
        </div>
        <div class="services-card">
            <h2>Matte-free Haircut</h2>
            <p>
                An in-depth haircut for pets with matted clumps. This service includes conditioning and shaving of the
                pet's matted hair for a comfortable and painless removal.
            </p>
            <div class="prices">$15</div>
        </div>
        <div class="services-card">
            <h2>Full Service Haircut</h2>
            <p>
                A full service haircut to treat your pet with luxury! This service includes shampoo & conditioning
                treatment, haircut (custom options available), and finishing off with a coat shine treatment and blow
                dry.
            </p>
            <div class="prices">$25</div>
        </div>
    </div>
    <%- include('./footer.ejs') %>
</body>

</html>