<header>
    <img src="./images/pets-r-us-logo.png" alt="logo">
</header>
<div class="nav-container">
    <div id="navbar">
        <a href="/">Home</a>
        <a href="/grooming">Grooming</a>
        <a href="/boarding">Boarding</a>
        <a href="/training">Training</a>
        <a href="/register">Register</a>
        <a href="/appointment">Booking</a>
        <a href="/my-appointments">My Appointments</a>
    </div>
</div>