<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@300;400;900&family=Raleway:wght@300;400&display=swap">
</head>

<body>
    <header>
        <img src="./images/pets-r-us-logo.png" alt="logo">
    </header>
    <div class="nav-container">
        <div id="navbar">
            <a href="/">Home</a>
            <a href="/grooming">Grooming</a>
        </div>
    </div>
    <div class="main-container">
        <h1>Welcome to Pets-R-Us!</h1>
        <h3>To us they're more than pets, they're family</h3>
    </div>
    <div class="second-container">
        <h1 class="section-header">About Us</h1>
        <p>
            At Pets-R-Us, we're focused in providing our customers with excellent service since we know that a pet isn't
            just a pet, they're family. Our commitment to pet parents is that we will treat your pet with care from the
            moment they step into our stores and beyond when they walk out. Thats why through our 1,000 locations we
            offer a range of products and services. We offer the latest and healthiest food and treat options, the best
            tested and certified pet equipment, and services from experienced groomers and trainers to give you the best
            overall care. We enjoy being there for all your pet's needs, whether that be through having their favorite
            food or snacks, to being there when they need to look their best. Through our stores is one way we convey
            that we are pet lovers but we also know that to truly be pet lovers you have to ensure all pets are being
            cared for. That is why we donate portions of our revenue to local adoption agencies in the areas our stores
            are located and also donate store products to those locations. We know that those pets are going to be
            members of your family soon so we want to make sure they are taken care of too. We understand that your pet
            means something and we hope to be there for you and your pet every step of the way.
        </p>
        <hr>
        <div class="location-card">
            <h1 class="section-header">Locations</h1>
            <ul class="location-info">
                <li class="location-title">Pets-R-Us Lake Buena Vista</li>
                <li>12345 Cherry Lane Lake Buena Vista, Florida</li>
                <li class="store-hours">Location Hours</li>
                <li>
                    <ul class="hour-list">
                        <li>Monday: 7AM-5PM</li>
                        <li>Tuesday: 7AM-5PM</li>
                        <li>Wednesday: 7AM-5PM</li>
                        <li>Thursday: 7AM-5PM</li>
                        <li>Friday: 7AM-5PM</li>
                        <li>Saturday: 9AM-5PM</li>
                        <li>Sunday: 10AM-5PM</li>
                    </ul>
                </li>
            </ul>
            <ul class="location-info">
                <li class="location-title">Pets-R-Us Celebration</li>
                <li>64573 Mickey Lane Celebration, Florida</li>
                <li class="store-hours">Location Hours</li>
                <li>
                    <ul class="hour-list">
                        <li>Monday: 7AM-5PM</li>
                        <li>Tuesday: 7AM-5PM</li>
                        <li>Wednesday: 7AM-5PM</li>
                        <li>Thursday: 7AM-5PM</li>
                        <li>Friday: 7AM-5PM</li>
                        <li>Saturday: 9AM-5PM</li>
                        <li>Sunday: 10AM-5PM</li>
                    </ul>
                </li>
            </ul>
            <ul class="location-info">
                <li class="location-title">Pets-R-Us Orlando</li>
                <li>98798 Milk District Drive Orlando, Florida</li>
                <li class="store-hours">Location Hours</li>
                <li>
                    <ul class="hour-list">
                        <li>Monday: 7AM-5PM</li>
                        <li>Tuesday: 7AM-5PM</li>
                        <li>Wednesday: 7AM-5PM</li>
                        <li>Thursday: 7AM-5PM</li>
                        <li>Friday: 7AM-5PM</li>
                        <li>Saturday: 9AM-5PM</li>
                        <li>Sunday: 10AM-5PM</li>
                    </ul>
                </li>
            </ul>
            <ul class="location-info">
                <li class="location-title">Pets-R-Us Jacksonville</li>
                <li>54987 Nocatee Corner Jacksonville, Florida</li>
                <li class="store-hours">Location Hours</li>
                <li>
                    <ul class="hour-list">
                        <li>Monday: 7AM-5PM</li>
                        <li>Tuesday: 7AM-5PM</li>
                        <li>Wednesday: 7AM-5PM</li>
                        <li>Thursday: 7AM-5PM</li>
                        <li>Friday: 7AM-5PM</li>
                        <li>Saturday: 9AM-5PM</li>
                        <li>Sunday: 10AM-5PM</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="third-container">
        <h1 class="section-header">Pet of the Week</h1>
        <ul class="bestest-list">
            <li class="pet-title">Lani the Cat</li>
            <li>
                <ul>
                    <li>Age: 5 years</li>
                    <li>Favorite Activity: Looking out the window</li>
                    <li>Favorite Toy: Feather toy</li>
                    <li>Most Lovable Quality: She likes to cuddle</li>
                </ul>
            </li>
        </ul>
    </div>
    <hr>
    <div class="fourth-container">
        <h1 class="section-header">Testimonials</h1>
        <div class="testimonial-card">
            <div class="person-card">
                <p>
                    I love Pets-R-Us because I feel like my pet and I are always treated like family here!
                </p>
                <h3>-- Gladys H.</h3>
            </div>
            <div class="person-card">
                <p>
                    This place has been there for us since the beginning. I adopted my dog, Max, from their partnered
                    adoption shelter and he's been through grooming and training here too. This place is familiar to our
                    family and we feel like without them we would have Max.
                </p>
                <h3>-- John W.</h3>
            </div>
            <div class="person-card">
                <p>
                    When my dog had been diagnosed wih severe allergies it was hard finding food and treats that
                    followed his new diet. At Pets-R-Us, I was happy to see that they carried the best of the best for
                    pets so I can always find my dog's food and treats that I couldn't find anywhere else.
                </p>
                <h3>-- Sally M.</h3>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <h1 class="section-header">Contact Us</h1>
        <p>
            We are always here and ready to help for any questions or concerns you may have. Feel free to send us an
            message and we will get back to you as soon as we can!
        </p>
        <form>
            <div class="email-card">
                <input type="email" placeholder="Email">
            </div>
            <div class="comment-card">
                <textarea placeholder="Comment"></textarea>
            </div>
            <input type="submit" value="Send">
        </form>
    </footer>
</body>

</html>